VITE_PHONE_NUMBER=+393333333
VITE_EMAIL=info@email.it
VITE_TEL=393333333
VITE_WHATSAPP_NUMBER=3933333333
VITE_SOCIAL_INSTAGRAM=https://instagram.com/tuoprofilo
VITE_SOCIAL_FACEBOOK=https://facebook.com/tuoprofilo
VITE_SOCIAL_LINKEDIN=https://linkedin.com/tuoprofilo
VITE_MAPS=https://maps.it
VITE_SANITY_PROJECT_ID=xxxxxxx
RESEND_API_KEY=re_xxxx
VITE_EMAIL_RESEND=xxx
